{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block head%}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ptsearcher.azurewebsites.net/">
    <meta property="og:title" content="PTsearcher2.0 || Search the Periodic Table at lightning speed">
    <meta property="og:description" content="PTsearcher2 combines fuzzy string matching and the React to search the periodic table of elements incredibly quick">
    <meta property="og:image" content="https://ptsearcher.azurewebsites.net/static/periodic-table-of-elements.png">
{%endblock%}
{%block content%}
    <div id="root"></div>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="compiled/Home.js" type="module"></script>
    
{%endblock%}
